@{
    Layout = null;
}


<a href="http://www.celebritydachshund.com/?__cf_chl_jschl_tk__=94216fe49f9d7e61d29ecbf5cc1c8259e941e48d-1598122718-0-AVeZd6eDM_SYuo8W47yJKG-St-gkN1XBYNOY9KeHIBTLzTQSD_uyM2gRmFyUTuZXkPP1pcokdOe3mdd3c97dvdwE93x719yKe3udYoS43JKlaXnIRMbDTMFV5zlVUneyuNVnGgSz86D4uAsxRDjfV6K25CTKbsiSX_mSI-ZIT5eHO9qwju3bx3U5ZO5HzDq0Olxvi-hl_VJQvODvTnuy_UYCdJoO659dG5usPBL6CEIStVPXawzkqJRAjuVfYHnjl6wrBwjp6FK0UVKLlr_WZo8">>Visit Curosoe</a>
<footer class="border-top footer text-muted">
    <div class="container">
    </div>
</footer>