@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h2>I love doxies and Curosoe rocks! </h2>
    
        <div class="topnav">
            <a asp-controller="home" asp-action="Index">Home</a>
            <a asp-controller="home" asp-action="Celebritydoxie">Check him out here </a> 


</div>
    </body>
</html>