
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<title>Laura Hinderliter Zamora</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    html, body, h1, h2, h3, h4, h5, h6 {
        font-family: "Roboto", sans-serif
    }
</style>
<body class="w3-light-grey">

    <!-- Page Container -->
    <div class="w3-content w3-margin-top" style="max-width:1400px;">

        <!-- The Grid -->
        <div class="w3-row-padding">

            <!-- Left Column -->
            <div class="w3-third">
                <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
                <div class="w3-white w3-text-grey w3-card-4">
                    <div class="w3-display-container">
                        <img src="~/img/Professional Photo.jpg" style="width:40%" alt="Avatar">
                        <div class="w3-display-bottom w3-container w3-text-blue">
                          <h4>Laura L. Hinderliter-Zamora</h4>
                        </div>
                    </div>
                    <div class="w3-container">
                        <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-indigo"></i>Business Intelligence Professional</p>
                        <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-indigo"></i>Tampa, FL</p>
                        <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-indigo"></i>laura.hinderliter729@gmail.com</p>
                        <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-indigo"></i>239-253-0813</p>

                        <hr>
                        <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-indigo"></i>Skills</b></p>
                        <p>SQL</p>
                        <div class="w3-light-grey w3-round-xlarge w3-small">
                            <div class="w3-container w3-center w3-round-xlarge w3-indigo" style="width:90%">90%</div>
                        </div>
                        <p>Tableau</p>
                        <div class="w3-light-grey w3-round-xlarge w3-small">
                            <div class="w3-container w3-center w3-round-xlarge w3-indigo" style="width:90%">
                                <div class="w3-center w3-text-white">90%</div>
                            </div>
                        </div>
                        <p>Power BI</p>
                        <div class="w3-light-grey w3-round-xlarge w3-small">
                            <div class="w3-container w3-center w3-round-xlarge w3-indigo" style="width:90%">90%</div>
                        </div>
                        <br>


                        <p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right w3-text-indigo"></i>Volunteer Work/Special Projects</b></p>

                        <div class="w3-light-grey w3-round-xlarge">
                            <div class="w3-container w3-center w3-round-xlarge w3-indigo" style="width:100%"><p>Mozambique Initiative - led 10 teams to Mozambique Africa on missions to complete a network center</p></div>
                        </div>
                        <br>


                        <div class="w3-light-grey w3-round-xlarge">
                            <div class="w3-container w3-center w3-round-xlarge w3-indigo" style="width:100%"><p>Path to Freedom - Web design for an organization for human trafficking</p></div>
                        </div>
                        <br>



                        <div class="w3-light-grey w3-round-xlarge">
                            <div class="w3-container w3-center w3-round-xlarge w3-indigo" style="width:100%"><p>SWFL Regional Technology Group- Served on the board in Naples, FL</p></div>
                        </div>
                        <br>

                        <div class="w3-light-grey w3-round-xlarge">
                            <div class="w3-container w3-center w3-round-xlarge w3-indigo" style="width:100%"><p>STEM Volunteer for girls in Science & various Web Design and graphics projects for schools</p></div>
                        </div>
                        <br>
                        <div class="w3-container w3-card w3-white">
                            <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-indigo"></i>Education</h2>
                            <div class="w3-container">
                                <h5 class="w3-opacity"><b>University of South Florida</b></h5>
                                <h6 class="w3-text-indigo"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Current</h6>
                                <p>MS in Data Analytics-December 2020 projected graduation</p>
                                <hr>
                            </div>
                            <div class="w3-container">
                                <h5 class="w3-opacity"><b>University of Kansas</b></h5>
                                <h6 class="w3-text-indigo"><i class="fa fa-calendar fa-fw w3-margin-right"></i>1987-1991</h6>
                                <p>Bachelor Degree</p>
                            </div>
                            <hr>
                           
    </div><br>

    <!-- End Left Column -->
                        </div>
                    </div>
                </div>
                <br>
                <br>
                </div>
    <!-- Right Column -->
    
    <div class="w3-twothird">

        <div class="w3-container w3-card w3-white w3-margin-bottom">
            <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-indigo"></i>Work Experience</h2>
            <div class="w3-container">
                <h5 class="w3-opacity"><b>Executive Summary</b></h5>

                <p>
                <p class="w3-small">
                    <i class="fa fa-asterisk fa-fw  w3-text-indigo"></i>Data Analytics Manager with experience delivering data driven insights with focusing on the customer experience, increasing efficiency, and identifying lost revenue gaps through a strong understanding of business intelligence tools.
                    <i class="fa fa-asterisk fa-fw w3-text-indigo"></i>Report writer for the following solutions: DA2, CCL, SAP/PowerInsight, Business Intelligence, SQL, SSRS, MDM, Datawarehouse Architecture.
                    <i class="fa fa-asterisk fa-fw w3-text-indigo"></i>Expertise in healthcare to satisfy requirements in the ambulatory, care management, meaningful use and ACO settings to satisfy quality metrics.
                    <i class="fa fa-asterisk fa-fw w3-text-indigo"></i>Led 400+ field users’ input to corporate in all stages of software development life cycle (SDLC) including requirements gathering, design, testing, implementation, and training.
                    <i class="fa fa-asterisk fa-fw w3-text-indigo"></i>Strong marketing communications in multi-media, writing skills, and documentation.
                    <i class="fa fa-asterisk fa-fw w3-text-indigo"></i>Passion for serving my community with my skills (See list of volunteer projects).
                </p>
                <hr>
            </div>
            <div class="w3-container">
                <h5 class="w3-opacity"><b>Sr. Business Systems Analyst, HealtheIntent-Data Analytics - BayCare Health Systems</b></h5>
                <h6 class="w3-text-indigo"><i class="fa fa-calendar fa-fw w3-margin-right"></i>March 2019 - <span class="w3-tag w3-indigo w3-round">Current</span></h6>
                <p>
                    Responsible for HealtheAnalytics for the HealtheIntent Population Health Solution. Coordinate the implementation of dashboards, reports, implementations, interfacing with the executive team and the population health team for the organization to meet goals for patient populations and the Accountable Care Organization.<br>
                    •	Successfully wrote an interface code for the banner bar with a team to identify at-risk plan patients.•	Restructured the reporting services analytics queue. •	Implemented an interface for COVID-19 to integrate with call center software for Care Management to follow-up with patients. •	Dashboards published in a medical publication and in the 2020 Annual Physicians Report.  •	Responsible for all reporting platforms including DA2, Business Objects, SQL, and Tableau.
                </p>
                <hr>
            </div>
            <div class="w3-container">
                <h5 class="w3-opacity"><b>Sr. Business Systems Analyst, (Manager) - Florida Cancer Specialists </b></h5>
                <h6 class="w3-text-indigo"><i class="fa fa-calendar fa-fw w3-margin-right"></i>March 2018- January 2019</h6>
                <p>

                    Responsible for the Business Intelligence Department and 4 BI Analysts. Coordinated the implementation of dashboards for Revenue Cycle, Pharmacy, Quality Assurance, Human Resources, and reporting to various regulatory healthcare agencies include Center for Medicare Services. SQL, Data Warehouse Architecture, Master Data Management, SSIS.
                    <br>
                    <br> •	Successfully implemented SSRS from Crystal Reporting. Largest change in the company in over 10 years.
                    •	Restructured the reporting services department.
                    •	Lead a team of analysts and prioritize projects with the business owners including the CEO and CIO and CFO.
                    •	Developed training materials for end-users to develop reports on the self-service portals in SSRS and BI platforms.
                    •	Responsible for financial reporting including month end financials and profit and loss statements.
                    •	Developed reporting solution for the new company American Oncology Network which launched on September 1, 2018.

                </p><br>
            </div>
            <div class="w3-container">
                <h5 class="w3-opacity"><b>Applications Consultant, Revenue Cycle,IT Works-CERNER IT WORKS/NAPLES COMMUNITY HOSPITAL </b></h5>
                <h6 class="w3-text-indigo"><i class="fa fa-calendar fa-fw w3-margin-right"></i>July 2016-April 2018</h6>
                <p>
                    Develop reports for CCL, DA2 and business intelligence for data analysis and Revenue Cycle. Consult the client on the data results and create solutions for Revenue Cycle, Ambulatory, Meaningful Use, and all aspects of business in a health care setting. Support 10 applications such as McKesson, Micros, GemPay, Press Ganey, Crimson, and Performance manager
                </p>  <br>
                <br>
                •	Successfully optimized business intelligence reports to SQL/CCL
                •	Supported several Go-Lives for Micros, Millennium and McKesson
                •	Designed workflows in the EHR to ensure capturing the correct data to make requirements
                •	Goal setting and dashboard design for the reporting solutions.
                •	Successfully optimized business intelligence reports to SQL/CCL
                •	Supported several Go-Lives for Micros, Millennium and McKesson
                •	Designed workflows in the EHR to ensure capturing the correct data to make requirements
                •	Goal setting and dashboard design for the reporting solutions.
                •	Work in solutions for tracking of post-acute treatment
                •	Built dashboards for PowerChart and in DA2/Discern Explorer for Daily Monitor
            </div>
            <div class="w3-container">
                <h5 class="w3-opacity"><b>Interface Architect, CERNER CORPORATION	</b></h5>
                <h6 class="w3-text-indigo"><i class="fa fa-calendar fa-fw w3-margin-right"></i>April 2015-July 2016</h6>
                <p>
                    Manage the onboarding of client data from Non-Millennium sources for data to be used in Population Health solution for reporting and analytics
                </p>  <br>
                <br>

                •	Successfully on-boarded data for clients for Population Health.
                •	Consulted clients on normalizing data for the Healthe Intent solution
                •	Worked with clients on reporting for Meaningful Use, MIPS and setting goals for ACO standards.
                <br>
            </div>
        </div>


    </div>

    <!-- End Right Column -->
    </div>

    <!-- End Grid -->
    <div></div>

    <!-- End Page Container -->
    </div>

    <footer class="w3-container w3-indigo w3-center w3-margin-top">
        <p></p>


    </footer>



</body>
</html>
